.container {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

.nav_ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  padding: 1vw;
  color: black;
}

img {
  width: 5vw;
}
